@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root [data-theme='vintage'] {
	--theme-font-family-base: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

	--theme-font-family-heading: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

html {
  scroll-behavior: smooth;
}

.scroll-margin {
    scroll-margin-top: 100px
}
